@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Tajawal ExtraLight'), local('Tajawal-ExtraLight'), url('/fonts/Tajawal-ExtraLight.woff2') format('woff2'),
      url('/fonts/Tajawal-ExtraLight.ttf') format('truetype');
}
/* arabic */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Tajawal Light'), local('Tajawal-Light'), url('/fonts/Tajawal-Light.woff2') format('woff2'),
      url('/fonts/Tajawal-Light.ttf') format('truetype');
}
/* arabic */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Tajawal'), local('Tajawal-Regular'), url('/fonts/Tajawal-Regular.woff2') format('woff2'),
      url('/fonts/Tajawal-Regular.ttf') format('truetype');
}
/* arabic */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Tajawal Medium'), local('Tajawal-Medium'), url('/fonts/Tajawal-Medium.woff2') format('woff2'),
      url('/fonts/Tajawal-Medium.ttf') format('truetype');
}
/* arabic */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Tajawal Bold'), local('Tajawal-Bold'), url('/fonts/Tajawal-Bold.woff2') format('woff2'),
      url('/fonts/Tajawal-Bold.ttf') format('truetype');
}